<!DOCTYPE html>
<html data-theme="light">
<head>
    <title>Prédiction cardiaque</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<main class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="flash-message {{ category }}">
        <p>{{ message }}</p>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <h2>Prédiction cardiaque</h2>
    <article class="grid">
        <form method="POST">
            <label for="values">Donnée du patient : </label>
            <textarea id="values" name="values"></textarea><br>
            <label for="model">Choisir un modèle :</label>
            <select id="model" name="model">
                {% for model in models %}
                <option value="{{ model }}">{{ model }}</option>
                {% endfor %}
            </select><br>
            <input type="submit" value="Prédire">
        </form>

        {% if plot_url %}
        <div class="right">
            <img src="data:image/png;base64,{{ plot_url }}">
        {% endif %}
        {% if result is not none %}
            <p>{{ model.upper() }} <br> Le patient est {{ result }}</p>
        </div>
        {% endif %}

    </article>

</main>
</body>
</html>